go 1.21.4

use (
	./myhandler
	./fundamental/hellocustomlog
	./fundamental/helloslog
	./fundamental/introlog
	./fundamental/format
	./fundamental/commonattrributes
	./fundamental/structured
	./fundamental/introslog
)
